        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>This blog is written by these great people</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Writers</h2>
            </div>
	    <% @users.each do |user|%>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>
		  <%= link_to user.name,  user  %>
                  <small>Job Title</small>
                </h3>
                <p><%= sanitize( user.summary.truncate(190) ) %></p>
		<div class="social-box">

                  <a href="<%= user.facebook %>"><i  class="social fa fa-facebook-square fa-3x social-fb"></i></a>
	          <a href="<%= user.twitter %>"><i class="social fa fa-twitter-square fa-3x social-tw"></i></a>
	          <a href=""><i  class=" social fa fa-google-plus-square fa-3x social-gp"></i></a>
		</div>
            </div>
	    <% end %>

        </div>

        <hr>
